.home {
  margin: 0;
  padding: 117px 20px 20px 120px;
}

.home-text-title {
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #062847;
}

.home-text-subtitle {
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  color: #5a6774;
}
