.main-nav {
  background-color: #1890ff;
}

.main-nav-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  padding: 15px 15px 15px 40px;

  color: #ffffff;
}
